

.carousel-inner {
    margin: 1em auto 2em;
    padding: auto;
    max-width: 90%;
}

body h2 {
    font-size: 3em;
    margin-top: 1em;
    font-family: Montserrat Variablefont Wght, sans-serif;
}

body h3 {
    font-size: 1 em;
}

.btn btn-outline-success {
    background-color: #f4b942;
}

#carouselExampleAutoplaying {
    margin-bottom: 5em;
}

.carousel-control-prev {
    margin-left: .5em;
}

.carousel-control-next {
    margin-right: .5em;
}

.container-md-fluid {
    background-color: #EFF2F1;
    padding-top: 1em;
    padding-bottom: 5em;
    padding-left: 5em;
    padding-right: 5em;
}

.container-md-fluid h2 {
    padding-left: .8em;
    padding-bottom: .5em;
    font-size: 5 rem;
    font-family: Montserrat Variablefont Wght, sans-serif;
    color: #333;
}

.card h-100 {
}

.card-body {
    background-color: #CFDEE7;
    color: #333;
}

.btn-primary {
    background-color: #6B9AC4;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6B9AC4;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}


