.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6B9AC4;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}
.carousel-inner {
    margin: auto;
    padding: auto;
}