
nav {

}
.carousel-inner {
    margin: 1em auto;
    padding: auto;
    max-width: 90%;
}

body h2 {
    font-size: 3em;
    margin-top: .5em;
}

body h3 {
    font-size: 1 em;
}

.btn btn-outline-success {
    background-color: #f4b942;
}

#carouselExampleAutoplaying {
    margin-bottom: 1em;
}

.carousel-control-prev {
    margin-left: .5em;
}

.carousel-control-next {
    margin-right: .5em;
}

body container {
    height: 2em;
    margin-bottom: 1em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6B9AC4;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}


